@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background-color: #2e2e2e;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #3e3e3e;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 400px;
    position: relative;
}

h1 {
    color: #00ff00;
}

.caption {
    color: #ffffff;
    font-size: 10px;
    margin-top: -10px;
    animation: shimmer 3s infinite;
    background: linear-gradient(90deg, #00ff00, #ffffff, #00ff00);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes shimmer {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

label {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.version-link {
    text-decoration: none;
    color: #ffffff;
}

.currency-buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.currency-btn {
    position: relative;
    background-color: #00b300;
    color: #ffffff;
    border: none;
    padding: 10px 30px 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.currency-btn::after {
    content: ' ▼';
    position: absolute;
    right: 10px;
    font-size: 12px;
    color: #ffffff;
}

.currency-btn:hover {
    background-color: #00ff00;
}

.currency-btn.selected {
    background-color: #00ff00;
    color: #303030;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.submit-btn, .settings-btn {
    background-color: #505050;
    color: #ffffff;
    border: 2px solid #ffffff;
    width: 80px;
    height: 80px;
    margin: 3px;
    border-radius: 50%;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-btn:hover, .settings-btn:hover {
    background-color: #00ff00;
    box-shadow: 0 0 10px #00ff00;
}

input[type="number"], input[type="text"] {
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #505050;
    background-color: #505050;
    color: #ffffff;
}

#result {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background-color: #3e3e3e;
    padding: 5px;
    border-radius: 10px;
    margin-top: 10px;
    width: 100%;
}

.settings-window {
    display: none;
    background-color: #3e3e3e;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.settings-btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.context-menu {
    display: none;
    position: absolute;
    background-color: #3e3e3e;
    border: 1px solid #505050;
    border-radius: 5px;
    list-style: none;
    padding: 10px;
    margin: 0;
    z-index: 100;
    max-height: 150px;
    overflow-y: auto;
    width: 95px;
}

.context-menu::-webkit-scrollbar {
    width: 8px;
}

.context-menu::-webkit-scrollbar-track {
    background: #2e2e2e;
    border-radius: 5px;
}

.context-menu::-webkit-scrollbar-thumb {
    background: #00ff00;
    border-radius: 5px;
    border: 2px solid #2e2e2e;
}

.context-menu::-webkit-scrollbar-thumb:hover {
    background: #00b300;
}

.context-menu li {
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
}

.context-menu li:hover {
    background-color: #00ff00;
}

.save-btn {
    background-color: #505050;
    color: #ffffff;
    border: 2px solid #ffffff;
    width: 100px;
    height: 40px;
    margin: 3px;
    border-radius: 20px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    text-align: center;
}

.save-btn:hover {
    background-color: #00ff00;
    box-shadow: 0 0 10px #00ff00;
}

.exit-btn {
    background-color: #ff5050;
    color: #ffffff;
    border: 2px solid #ffffff;
    width: 100px;
    height: 40px;
    margin: 3px;
    border-radius: 20px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    text-align: center;
}

.exit-btn:hover {
    background-color: #ff0000;
    box-shadow: 0 0 10px #ff5050;
}


.checkmark-container {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    position: relative;
}

.checkmark {
    display: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #00b300;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.checkmark::before {
    content: '';
    display: block;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.checkmark.show {
    display: block;
    opacity: 1;
    animation: checkmark-appear 0.6s ease-in-out, checkmark-glow 1s ease-in-out infinite alternate;
}

@keyframes checkmark-appear {
    0% {
        transform: translate(-50%, -50%) scale(0.5);
        opacity: 0;
    }
    50% {
        transform: translate(-50%, -50%) scale(1.2);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes checkmark-glow {
    0% {
        box-shadow: 0 0 5px #00b300, 0 0 10px #00b300, 0 0 15px #00b300;
    }
    100% {
        box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00;
    }
}